body{
  background-color: purple;
  font-size: 20px;
  color: red;
}



header{
  
  font-size: 20px;
  font-style: bold;

}
span{
  margin-left: 5px;
  color: purple;
  padding: 10px;
}


p{
  color: black;
  background-color: green;
  width: 40px;
  height: 40px;
  border-left: 5px bold black;
  margin: 20px; 
}